<section class="share">
  <a class="share-link" href="https://x.com/Suchit509" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
    Twitter
  </a>
  <a class="share-link" href="https://www.linkedin.com/in/suchit-g-00b470285/" onclick="window.open(this.href, 'linkedin-share','width=580,height=296');return false;">
    LinkedIn
  </a>
  <a class="share-link" href="https://www.github.com/IamLegend509/" onclick="window.open(this.href, 'linkedin-share','width=580,height=296');return false;">
    GitHub
  </a>
</section>
